/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: GUNZIP {
        publishDir = [
            path: { "${params.outdir}/references/gzipped" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: PREPARE_GENOME {
        publishDir = [
                path: { "${params.outdir}/references/genome" },
                mode: 'copy',
                pattern: "*.fa",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
    }
    
    withName: INDICES {
        publishDir = [
                path: { "${params.outdir}/references/indices" },
                mode: 'copy',
                pattern: "*.ebwt",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
    }

    withName: PREPARE_MIRBASE_TARGET {
        publishDir = [
            path: { "${params.outdir}/references/mirbase" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: PREPARE_MIRBASE_RELATED {
        publishDir = [
            path: { "${params.outdir}/references/mirbase" },
            mode: 'copy'
        ]
    }
    
    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/fastqc" },
            mode: 'copy',
            saveAs: { filename -> filename.indexOf(".zip") > 0 ? "zips/$filename" : "$filename"},
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
    }

    withName: MULTIQC_ONRAW {
        ext.args = params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
        publishDir = [
        path: { "${params.outdir}/fastqc/multiqc" },
        mode: 'copy'
        ]
    }

    withName: TRIM_GALORE {
        publishDir = [
        path: { "${params.outdir}/trim_galore" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: MULTIQC {
        ext.args = params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
        publishDir = [
        path: { "${params.outdir}/multiqc" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CONFIG_FILE {
        publishDir = [
            path: { "${params.outdir}/mirdeep2/input" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            pattern: '*_versions.yml'
        ]
    }

}
