/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: PREPARE_GENOME {
        publishDir = [
                path: { "${params.outdir}/references/genome" },
                mode: 'copy',
                pattern: "*.fa",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
    }
    
    withName: BOWTIE_BUILD_CUSTOM {
        publishDir = [
                path: { "${params.outdir}/references" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                saveAs: { filename -> filename.indexOf(".ebwt") > 0 ? "bowtie/$filename" : "$filename"}
            ]
    }

    withName: PREPARE_MIRBASE_TARGET {
        publishDir = [
            path: { "${params.outdir}/references/mirbase" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: PREPARE_MIRBASE_RELATED {
        publishDir = [
            path: { "${params.outdir}/references/mirbase" },
            mode: 'copy'
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/fastqc" },
            mode: 'copy',
            saveAs: { filename -> filename.indexOf(".zip") > 0 ? "${params.outdir}/fastqc/zips/$filename" : "$filename"},
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
    }

    withName: MULTIQC_ONRAW {
        ext.args = params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
        publishDir = [
            path: { "${params.outdir}/fastqc/multiqc" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            mode: 'copy'
        ]
    }

    withName: TRIMGALORE {
        ext.args = [ params.three_prime_adapter ? "--adapter ${params.three_prime_adapter}" : '',
                     params.min_length          ? "--length ${params.min_length}"           : '',
                     params.max_length          ? "--max_length ${params.max_length}"       : '',
                     params.quality_cutoff      ? "--quality ${params.quality_cutoff}"      : '' 
                    ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/trim_galore" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: MULTIQC {
        ext.args = params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CONFIG_FILE {
        publishDir = [
            path: { "${params.outdir}/mirdeep/input" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

   withName: MAPPER {
        ext.args = [ '-d',
                     '-e',
                     '-h',
                     '-j',
                     '-m', 
                     '-v',
                    params.custom_mapperArgs ? "-r '${params.multimapNmax}' -l 17" : '-l 17' 
                    ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/mirdeep/mapper" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            saveAs: { filename -> filename.indexOf(".log") > 0 ? "mapper_logs/$filename" : "$filename"}
        ]
    }

    withName: MIRDEEP2 {
        publishDir = [
            path: { "${params.outdir}/mirdeep/mirdeep2" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: NOVEL_MIRNAS {
        publishDir = [
            path: { "${params.outdir}/mirdeep/mirdeep2/ref_plusDenovo" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: QUANTIFY_THEMALL {
        publishDir = [
            path: { "${params.outdir}/mirdeep/quantify_themall" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            saveAs: { filename -> filename.indexOf(".pdf") > 0 ? "${params.outdir}/mirdeep/quantify_themall/pdfs/$filename" : "$filename"}
        ]
    }
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            pattern: '*_versions.yml'
        ]
    }

}
